<div id="item-{{ candidacy.id }}" class="list-group-item list-group-item-action p-3 {% if candidacy.isRead %} text-muted bg-light {% endif %}">
    <div class="d-flex justify-content-between flex-wrap align-items-end">
        <div class="flex-fill">
            <p class="m-0">{{ loop.index }} - Reçue le {{ candidacy.sendDate | format_datetime('medium', 'none', locale='fr') }}</p>
            <p class="m-0"><strong>{{ candidacy.candidate.firstname }} {{ candidacy.candidate.lastname }}</strong></p>
            <div class="p-2 border border-secondary rounded mr-5">
                <p class="mb-0">E-mail : <a href="mailto:{{ candidacy.candidate.email }}" class="ml-3">{{ candidacy.candidate.email }}</a></p>
                <p class="mb-0">Téléphone :<span class="ml-3
                    {% if candidacy.candidate.phone is not null %}
                        ">{{ candidacy.candidate.phone }}
                    {% else %}
                        text-muted">NC
                    {% endif %}
                    </span>
                </p>
                {% if candidacy.resumeFile is null %}
                    <p class="mb-0"><em>Ce candidat n'a pas fourni de CV</em></p>
                {% endif %}
            </div>
        </div>
        <div class="">
            
            <button class="m-2 btn btn-outline-info" type="button" data-toggle="collapse" data-target="#cover-{{ candidacy.id }}" aria-controls="cover-{{ candidacy.id }}" aria-expanded="false" aria-label="Toggle" title="Lettre motivation">
                <i class="far fa-file-alt"></i>
            </button>
            <a href="/recruiter/candidacies-{{ candidacy.postId }}/resume-{{ candidacy.id }}" 
               title="Curriculum Vitae" 
               class="m-2 btn btn-outline-primary {% if candidacy.resumeFile is null %} d-none {% endif %}" 
               role="button">
                <i class="far fa-id-card"></i>
            </a>
            <a href="#" id="unreadSet-{{ candidacy.id }}" title="Marquer comme non-lue" class="m-2 btn btn-outline-success unreadSet {% if not candidacy.isRead %} d-none {% endif %}" role="button">
                <i class="far fa-eye-slash"></i>
            </a>
            <a href="#" id="readSet-{{ candidacy.id }}" title="Marquer comme lue" class="m-2 btn btn-outline-secondary readSet {% if candidacy.isRead %} d-none {% endif %}" role="button">
                <i class="far fa-eye"></i>
            </a>
        </div>
    </div>
    <div id="cover-{{ candidacy.id }}" class="p-3 border border-secondary rounded collapse mt-3">
        {{ candidacy.cover }}
    </div> 
</div>
