{% extends 'default.twig' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block errors %}
    {% for error in errors %}
            <p class="m-0">{{ error }}</p>
    {% endfor %}
{% endblock %}

{% block content %}
    <section class="container">
        <div class="row">
            <div class="col-12 col-md-6">
                {% include('_pagination.twig') %}

                {% if postsList is empty %}
                    <p class="text-muted text-center">Il n'y a pas d'offres correspondant à votre recherche</p>
                {% else %}
                    <div class="list-group mt-3 mb-3">
                        {% for post in postsList %}
                            <div id="post-item-{{ post.id }}"class="post-items list-group-item list-group-item-action cursor {% if post.id is same as(activePost) %}{{ 'active' }}{% endif %}">
                                <div class="d-flex mb-0">
                                    <div class="m-0 flex-fill">
                                        <h3 class="mb-0">{{ post.title }}</h3>
                                        <p class="m-0 lead">{{ post.recruiterName }}</p>
                                    </div>
                                    {% if profile_pic_exists(post.recruiterId) %}
                                        <img alt="profile_picture" class="thumbnail mr-3 mt-2" src="/assets/profile_pic/profile_{{ post.recruiterId }}.png">
                                    {% endif %}
                                </div>
                                <p class="m-0">{{ post.location }}</p>
                                <small>
                                    {{ post.addDate | showAge }} | 
                                    {% if post.saved %}
                                        Sauvegardée dans "Mes offres"
                                    {% else %}
                                        <a href="/candidate/save-{{ post.id }}/index-{{ pagination.current }}" class="sublink">Sauvegarder</a>
                                    {% endif %}
                                </small>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}

                {% include('_pagination.twig') %}
            </div>

            <div id="post-container" class="container">
                <div class="row position-relative">
                    {% for post in postsList %}
                        <div id="post-view-{{ post.id }}" class="col-12 col-md-6 offset-md-6 post-view position-absolute" {% if post.id is same as(activePost) %}{{ 'style="display:block;"' }}{% endif %}>
                            <div class="border-bottom border-success p-3 bg-white">
                                <div class="d-flex mb-0">
                                    {% if profile_pic_exists(post.recruiterId) %}
                                        <img alt="profile_picture" class="thumbnail mr-3 mt-2" src="/assets/profile_pic/profile_{{ post.recruiterId }}.png">
                                    {% endif %}                                    
                                    <div class="m-0 flex-fill">
                                        <p class="mb-0"><strong>{{ post.recruiterName }}</strong> - {{ post.location }}</p>
                                        <h3 class="m-0">{{ post.title }}</h3>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-between align-items-center mt-2 flex-wrap">
                                    <small class="flex-fill mb-2">{{ post.addDate | showAge }}
                                    {% if post.saved %}
                                        <br/>
                                        Sauvegardée dans "Mes offres"</small>
                                        <a href="/candidate/remove-{{ post.id }}/index-{{ pagination.current }}" title="Enlever de ma liste" class="mr-3 ml-3 btn btn-outline-danger border-0" role="button">
                                            <i class="far fa-trash-alt fa-2x"></i>
                                        </a>  
                                    {% else %}
                                        </small>
                                        <a href="/candidate/save-{{ post.id }}/index-{{ pagination.current }}" title="Ajouter à ma liste" class="mr-3 ml-3 btn btn-outline-secondary border-0" role="button">
                                            <i class="far fa-bookmark fa-2x"></i>
                                        </a>
                                    {% endif %}
                                    <button class="btn-success text-white rounded-pill col-8 col-sm-6 col-lg-4 p-2">Postuler</button>
                                </div>
                            </div>
                            <div class="p-4 bg-white post-content">
                                {{ post.content | markdown }}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>

{% endblock %}